<section class="block container">
    <header class="block__header">
      <h2>Host On The Cloud to Keep Growing</h2>
      <p>Quis ipsum suspendisse ultrices gravida. Tisus commodo viverra maecenas accumsan.</p>
    </header>
    <article class="grid grid--1x2 feature">
      <div class="feature__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#easy"></use>
          </svg>
        </span>
        <h3 class="feature__heading">Super Easy to Use</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi
          qui consequatur ea cumque accusamus quam. Architecto quis nihil sint
          temporibus!
        </p>
        <a href="#" class="link-arrow">Learn More</a>
      </div>
      <picture>
        <source
          type="image/webp"
          srcset="images/easy.webp 1x, images/easy@2x.webp 2x"
        />
        <source
          type="image/png"
          srcset="images/easy.png 1x, images/easy@2x.png 2x"
        />
        <img class="feature__img" src="images/easy@2x.jpg" alt="" />
      </picture>
    </article>
    <article class="grid grid--1x2 feature">
      <div class="feature__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#computer"></use>
          </svg>
        </span>
        <h3 class="feature__heading">Super Easy to Use</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi
          qui consequatur ea cumque accusamus quam. Architecto quis nihil sint
          temporibus!
        </p>
        <a href="#" class="link-arrow">Learn More</a>
      </div>
      <picture>
        <source
          type="image/webp"
          srcset="images/fast.webp 1x, images/fast@2x.webp 2x"
        />
        <source
          type="image/png"
          srcset="images/fast.png 1x, images/fast@2x.png 2x"
        />
        <img class="feature__img" src="images/fast@2x.jpg" alt="" />
      </picture>
    </article>
    <article class="grid grid--1x2 feature">
      <div class="feature__content">
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#settings"></use>
          </svg>
        </span>
        <h3 class="feature__heading">Super Easy to Use</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi
          qui consequatur ea cumque accusamus quam. Architecto quis nihil sint
          temporibus!
        </p>
        <a href="#" class="link-arrow">Learn More</a>
      </div>
      <picture>
        <source
          type="image/webp"
          srcset="images/wordpress.webp 1x, images/wordpress@2x.webp 2x"
        />
        <source
          type="image/png"
          srcset="images/wordpress.png 1x, images/wordpress@2x.png 2x"
        />
        <img class="feature__img" src="images/wordpress@2x.jpg" alt="" />
      </picture>
    </article>
  </section>